@import "../../App.scss";

.feature-card {
  background-color: rgba($color-white, 0.8);
  font-size: 1.3rem;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  cursor: pointer;

  @include responsive(iphone) {
    font-size: 2rem;
    height: 18vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include responsive(android) {
    font-size: 2rem;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__icon {
    font-size: 6rem;
    background-image: linear-gradient(
      to right,
      rgba(46, 49, 146, 0.8),
      rgba(27, 255, 255, 0.8)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 0.3rem;

    @include responsive(iphone) {
      font-size: 8rem;
    }

    @include responsive(android) {
      font-size: 8rem;
    }
  }

  &__text {
    font-weight: 500;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.02);
  }
}
