body {
  font-family: 'karla';
  box-sizing: border-box;
  padding: 1.5rem;
}

/* colors */
$color-dark-blue: #2E3192;
$color-medium-blue: #4E65FF;
$color-light-blue: #1BFFFF;
$color-extra-light-blue: #92EFFD;