*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import "./sass/mixins";

/* Custom font */ 
@font-face {
  font-family: "lovely-coffee"; /* Can be any text */
  src: local("LovelyCoffee"), url("./fonts/LovelyCoffee.woff") format("woff");
}

:root {
  font-size: 62.5%;

  @include responsive(mobile) {
    /* 1rem = 6px */
    /* 6px / 16px = .375 = 37.5% */
    font-size: 37.5%;
  }

  @include responsive(mob) {
    /* 1rem = 6px */
    font-size: 37.5%;
  }

  @include responsive(iphone) {
    /* 1rem = 6px */
    font-size: 37.5%;
  }

  @include responsive(android) {
    /* 1rem = 7px */
    font-size: 43.75%;
  }

  @include responsive(ipad) {
    /* 1rem = 8px */
    font-size: 50%;
  }

  @include responsive(tab) {
    /* 1rem = 9px */
    font-size: 56.25%;
  }

  @include responsive(mac) {
    /* 1rem = 10px */
    font-size: 62.5%;
  }

  @include responsive(laptop) {
    /* 1rem = 10px */
    font-size: 62.5%;
  }

  @include responsive(desktop) {
    /* 1rem = 12px */
    font-size: 75%;
  }

  @include responsive(imac) {
    /* 1rem = 14px */
    font-size: 87.5%;
  }

  @include responsive(screens) {
    /* 1rem = 16px */
    font-size: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
