@import "../../App.scss";

.landing-about {
  height: 120vh;
  margin-top: -20vh;
  background-image: linear-gradient(
    to right,
    $color-grey-dark,
    $color-grey-light
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .landing-about__grid--content {
    font-size: 1.6rem;

    .grid__content--paragraph {
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  .landing-about__grid--images {
    .composition {
      position: relative;

      &__photo {
        width: 55%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba(#000, 0.4);
        z-index: 1;
        transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        outline-offset: 1.8rem;
        cursor: pointer;

        &--p1 {
          top: -2rem;
          left: 0;

          &:hover {
            outline: 1.5rem solid #007fff;
          }
        }

        &--p2 {
          right: 0;
          top: 2rem;

          &:hover {
            outline: 1.5rem solid #000080;
          }
        }

        &--p3 {
          top: 8rem;
          left: 20%;

          &:hover {
            outline: 1.5rem solid #002fa7;
          }
        }

        &:hover {
          z-index: 10;
          transform: scale(1.05) translateY(-0.5rem);
          box-shadow: 0 2.5rem 4rem rgba(#000, 0.5);
        }
      }

      &:hover {
        .composition__photo:not(:hover) {
          transform: scale(0.95);
        }
      }
    }
  }
}
