@import "../../../App.scss";

.form-style--3 {
  transform: translate(-55%, -50%);
  display: flex;

  &-textbox {
    width: 50%;

    .dropdown-label {
      display: block;
      margin: 1rem 0 2rem 1.2rem;
      font-size: 1.4rem;
      color: #888;
      font-weight: 700;
      transition: all 0.4s;
    }
  }
}
