@import "../../../App.scss";

.form-style--3 {
  transform: translate(-55%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  &-textbox {
    width: 50%;

    @include responsive(mobile) {
      width: 100%;
    }

    & h3 {
      font-size: 1.8rem;
    }

    .dropdown-label {
      display: block;
      margin: 1rem 0 2rem 1.2rem;
      font-size: 1.4rem;
      color: #888;
      font-weight: 700;
      transition: all 0.4s;

      @include responsive(mobile) {
        font-size: 1.6rem;
      }
  
      @include responsive(mob) {
        font-size: 1.6rem;
      }
  
      @include responsive(iphone) {
        font-size: 1.6rem;
      }
  
      @include responsive(android) {
        font-size: 1.6rem;
      }
  
      @include responsive(ipad) {
        font-size: 1.6rem;
      }
  
      @include responsive(tab) {
        font-size: 1.8rem;
      }
    }
  }

  &-instructions {
    width: 45%;
    align-self: flex-start;
    padding: 2rem;

    @include responsive(mobile) {
      width: 100%;
    }

    @include responsive(mob) {
      width: 50%;
      padding: 1.5rem;
    }

    @include responsive(iphone) {
      width: 50%;
      padding: 1.5rem;
    }

    @include responsive(android) {
      width: 50%;
      padding: 1.5rem;
    }

    & h3 {
      font-size: 2rem;
      font-family: 'merriweather';
      font-style: italic;
      // text-align: right;

      @include responsive(mobile) {
        font-size: 2rem;
      }
  
      @include responsive(mob) {
        font-size: 1.8rem;
      }
  
      @include responsive(iphone) {
        font-size: 1.8rem;
      }
  
      @include responsive(android) {
        font-size: 1.8rem;
      }
    }   
    
    & ul {
      padding: 2rem;

      @include responsive(mobile) {
        padding: 1rem 1.5rem;
      }

      & li {
        font-size: 1.8rem;
        margin: 1rem 0;

        @include responsive(mobile) {
          font-size: 1.6rem;
          text-align: justify;
        }
    
        @include responsive(mob) {
          font-size: 1.6rem;
        }
    
        @include responsive(iphone) {
          font-size: 1.6rem;
        }
    
        @include responsive(android) {
          font-size: 1.6rem;
        }

        & span {
          font-weight: 500;
        }
      }
    }
  }
}
