@import "../../../App.scss";

.booknow-offers {
  @include linearGradient($dark-grey, $light-grey);
  width: 100%;
  height: 110vh;
  margin-top: -20vh;
  padding-top: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive(mobile) {
    margin-top: -10vh;
    padding-top: 8vh;
    height: 70vh;
  }

  @include responsive(mob) {
    margin-top: -10vh;
    padding-top: 8vh;
    height: 60vh;
  }

  @include responsive(iphone) {
    margin-top: -10vh;
    padding-top: 8vh;
    height: 60vh;
  }

  @include responsive(android) {
    margin-top: -10vh;
    padding-top: 8vh;
    height: 60vh;
  }

  @include responsive(ipad) {
    margin-top: -10vh;
    padding-top: 8vh;
    height: 60vh;
  }

  @include responsive(tab) {
    margin-top: -10vh;
    padding-top: 8vh;
    height: 60vh;
  }

  &__container {
    width: 75%;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 4rem rgba($light-blue, 0.5);
    background-image: linear-gradient(
        90deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 30%,
        rgba($color-white, 0.7) 40%,
        rgba($color-white, 0.5) 45%,
        transparent 50%
      ),
      url("../../../assets/card-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;

    @include responsive(mobile) {
      width: 90%;
      background-image: linear-gradient(
          90deg,
          rgba($color-white, 0.7) 0%,
          rgba($color-white, 0.7) 40%,
          rgba($color-white, 0.5) 70%,
          rgba($color-white, 0.3) 100%
        ),
        url("../../../assets/card-5.jpg");
    }

    @include responsive(mob) {
      width: 90%;
      background-image: linear-gradient(
          90deg,
          rgba($color-white, 0.7) 0%,
          rgba($color-white, 0.7) 40%,
          rgba($color-white, 0.5) 70%,
          rgba($color-white, 0.3) 100%
        ),
        url("../../../assets/card-5.jpg");
    }

    @include responsive(iphone) {
      width: 85%;
      background-image: linear-gradient(
          180deg,
          rgba($color-white, 0.8) 0%,
          rgba($color-white, 0.6) 30%,
          rgba($color-white, 0.3) 100%
        ),
        url("../../../assets/card-5.jpg");
    }

    @include responsive(android) {
      width: 85%;
      background-image: linear-gradient(
          90deg,
          rgba($color-white, 0.7) 0%,
          rgba($color-white, 0.7) 40%,
          rgba($color-white, 0.5) 70%,
          rgba($color-white, 0.3) 100%
        ),
        url("../../../assets/card-5.jpg");
    }

    @include responsive(ipad) {
      width: 85%;
      background-image: linear-gradient(
          90deg,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 40%,
          rgba($color-white, 0.7) 50%,
          rgba($color-white, 0.5) 55%,
          transparent 60%
        ),
        url("../../../assets/card-5.jpg");
    }

    @include responsive(tab) {
      width: 85%;
      background-image: linear-gradient(
          90deg,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 40%,
          rgba($color-white, 0.7) 50%,
          rgba($color-white, 0.5) 55%,
          transparent 60%
        ),
        url("../../../assets/card-5.jpg");
    }

    &--box {
      width: 45%;
      height: 100%;
      padding: 2rem;

      @include responsive(mobile) {
        width: 100%;
      }

      @include responsive(mob) {
        width: 100%;
      }

      @include responsive(iphone) {
        width: 100%;
      }

      @include responsive(android) {
        width: 100%;
      }

      @include responsive(ipad) {
        width: 58%;
      }

      @include responsive(tab) {
        width: 58%;
      }

      .offer--name {
        font-family: "lovely-coffee";
        font-size: 7rem;
        width: 100%;
        letter-spacing: 1.3px;
        margin-bottom: 1rem;
        @include linearGradient($color-dark-blue, $color-light-blue);
        background-clip: text;
        color: transparent;

        @include responsive(ipad) {
          font-size: 6rem;
        }
      }

      .offer--title {
        font-size: 3rem;
        margin: 0.5rem 0;

        @include responsive(ipad) {
          font-size: 2.8rem;
        }
      }

      .offer--content {
        font-size: 1.4rem;
        line-height: 1.3;
        margin: 0.5rem 0;
        text-align: justify;

        @include responsive(mobile) {
          font-size: 2rem;
        }

        @include responsive(mob) {
          font-size: 2rem;
        }

        @include responsive(iphone) {
          font-size: 2rem;
        }

        @include responsive(android) {
          font-size: 2rem;
        }

        @include responsive(ipad) {
          font-size: 2rem;
        }
      }

      .offer--conclusion {
        font-size: 1.6rem;
        font-weight: bold;

        @include responsive(mobile) {
          font-size: 2rem;
        }

        @include responsive(mob) {
          font-size: 2rem;
        }

        @include responsive(iphone) {
          font-size: 2rem;
        }

        @include responsive(android) {
          font-size: 2rem;
        }

        @include responsive(ipad) {
          font-size: 2rem;
        }
      }

      .offer--coupon-code {
        margin: 2.5rem auto;
        height: 6rem;
        width: 50%;
        border-radius: 0.5rem;
        border: 1px dashed $light-blue;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        box-shadow: 0 1rem 3rem rgba($light-blue, 0.3);

        @include responsive(mobile) {
          background-color: rgba($color-white, 0.4);
        }

        @include responsive(mob) {
          background-color: rgba($color-white, 0.4);
        }

        @include responsive(iphone) {
          background-color: rgba($color-white, 0.4);
        }

        @include responsive(android) {
          background-color: rgba($color-white, 0.4);
        }

        .coupon-text {
          font-size: 1.3rem;
          display: block;
        }

        .coupon-code {
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: 500;
          color: $light-blue;
          display: flex;
          align-items: center;
          justify-content: center;

          .copy-coupon {
            width: 2rem;
            height: 2rem;

            & img {
              width: 100%;
              height: 100%;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .copy-popup {
    width: 60%;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color-white, 0.6);
    color: $outline-secondary;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    font-weight: 500;
    transition: all 0.4s ease-in-out;

    @include responsive(mobile) {
      top: 65%;
    }

    @include responsive(mob) {
      top: 110%;
    }

    @include responsive(iphone) {
      top: 110%;
    }

    @include responsive(android) {
      top: 110%;
    }

    @include responsive(ipad) {
      top: 110%;
    }

    @include responsive(tab) {
      top: 110%;
    }
  }
}
