@import '../../../App.scss';

.bg-video {
  height: 100%;
  width: 100%;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}