@import '../../../App.scss';

.feature {
  background-image: linear-gradient(
      to right bottom,
      rgba(#2E3192, 0.75),
      rgba(#1BFFFF, 0.75)
    ),
    url("../../../assets/feature-bg.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -7rem;
  transform: skewy(-6deg);
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive(mobile) {
    min-height: 80vh;
    height: auto;
    transform: skewy(-11deg);
    margin-top: -9rem;
  }

  @include responsive(iphone) {
    min-height: 80vh;
    height: auto;
    transform: skewy(-11deg);
    margin-top: -9rem;
  }

  @include responsive(android) {
    min-height: 80vh;
    height: auto;
    transform: skewy(-11deg);
    margin-top: -9rem;
  }

  @include responsive(ipad) {
    min-height: 90vh;
    height: auto;
    transform: skewy(-8deg);
    margin-top: -8rem;
  }

  @include responsive(tab) {
    min-height: 90vh;
    height: auto;
    transform: skewy(-8deg);
    margin-top: -7rem;
  }

  @include responsive(desktop) {
    min-height: 90vh;
    height: auto;
    transform: skewy(-7deg);
    margin-top: -9rem;
  }

  & > * {
    transform: skewY(6deg);

    @include responsive(mobile) {
      transform: skewy(11deg);
    }

    @include responsive(iphone) {
      transform: skewy(11deg);
    }

    @include responsive(android) {
      transform: skewy(11deg);
    }

    @include responsive(ipad) {
      transform: skewy(8deg);
    }

    @include responsive(tab) {
      transform: skewy(8deg);
    }

    @include responsive(desktop) {
      transform: skewy(7deg);
    }
  }
}
