/* Button Secondary */
.btn-text {
  background-color: rgba( $color-white, .7);

  &:link,
  &:visited {
    color: $outline-secondary;
    border-bottom: 1.5px solid $outline-secondary;
    padding: .7rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &:hover {
    background-color: $outline-secondary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0px);
  }
}