/* Heading Primary */
.heading__primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: "merriweather";
  font-style: italic;

  .heading__primary--main {
    display: block;
    font-size: 5.8rem;
    letter-spacing: 2.5rem;
    font-weight: 400;
    animation: MoveInLeft 1s ease-out;

    @include responsive(iphone) {
      letter-spacing: 1rem;
    }

    @include responsive(android) {
      letter-spacing: 1rem;
    }
  }

  .heading__primary--sub {
    display: block;
    font-size: 1.8rem;
    letter-spacing: 1.3rem;
    font-weight: 600;
    animation: MoveInRight 1s ease-out;

    @include responsive(iphone) {
      letter-spacing: 0.8rem;
    }

    @include responsive(android) {
      letter-spacing: 0.8rem;
    }
  }
}

/* Heading Secondary */
.heading-secondary {
  background-image: linear-gradient(
    to right,
    $color-dark-blue,
    $color-light-blue
  );
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparent;
  transition: all 0.2s;
  cursor: pointer;
  font-family: "merriweather";
  font-style: italic;

  @include responsive(iphone) {
    font-size: 2.5rem;
    margin: 0 .5rem;
  }

  &:hover {
    transform:
      /*skewY(1deg) skewX(15deg)*/ scale(1.05);
    text-shadow: 0rem 1rem 2rem rgba($color-black, 0.2); // rgba(color, opacity)
  }
}

/* Heading Tertiary */
.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
  // font-family: 'merriweather';
  // font-style: italic;
}
