/* utility classes */
.utility-text-center {
  text-align: center;
}

.utility-margin-btm-big {
  margin-bottom: 8rem;

  @include responsive(mobile){
    margin-bottom: 4.5rem;
  }

  @include responsive(mob){
    margin-bottom: 4.5rem;
  }

  @include responsive(iphone){
    margin-bottom: 5rem;
  }

  @include responsive(android){
    margin-bottom: 5rem;
  }

  @include responsive(ipad){
    margin-bottom: 6rem;
  }

  @include responsive(tab){
    margin-bottom: 6rem;
  }
}

.utility-margin-btm-md-1 {
  margin-bottom: 6rem;

  @include responsive(mobile){
    margin-bottom: 3.5rem;
  }

  @include responsive(mob){
    margin-bottom: 3.5rem;
  }

  @include responsive(iphone){
    margin-bottom: 4rem;
  }

  @include responsive(android){
    margin-bottom: 4rem;
  }

  @include responsive(ipad){
    margin-bottom: 5rem;
  }

  @include responsive(tab){
    margin-bottom: 5rem;
  }
}

.utility-margin-btm-md-2 {
  margin-bottom: 4rem;

  @include responsive(mobile){
    margin-bottom: 1.8rem;
  }

  @include responsive(mob){
    margin-bottom: 1.8rem;
  }

  @include responsive(iphone){
    margin-bottom: 2rem;
  }

  @include responsive(android){
    margin-bottom: 2rem;
  }

  @include responsive(ipad){
    margin-bottom: 3rem;
  }

  @include responsive(tab){
    margin-bottom: 3rem;
  }
}

.utility-margin-btm-small {
  margin-bottom: 1.5rem;

  @include responsive(mobile){
    margin-bottom: 1rem;
  }

  @include responsive(mob){
    margin-bottom: 1rem;
  }

  @include responsive(iphone){
    margin-bottom: 1rem;
  }

  @include responsive(android){
    margin-bottom: 1rem;
  }

  @include responsive(ipad){
    margin-bottom: 1.5rem;
  }

  @include responsive(tab){
    margin-bottom: 1.5rem;
  }
}

.utility-margin-top-big {
  margin-top: 8rem;

  @include responsive(mobile){
    margin-top: 4.5rem;
  }

  @include responsive(mob){
    margin-top: 4.5rem;
  }

  @include responsive(iphone){
    margin-top: 5rem;
  }

  @include responsive(android){
    margin-top: 5rem;
  }

  @include responsive(ipad){
    margin-top: 6rem;
  }
}

.utility-margin-top-md-1 {
  margin-top: 6rem;

  @include responsive(mobile){
    margin-top: 3.5rem;
  }

  @include responsive(mob){
    margin-top: 3.5rem;
  }

  @include responsive(iphone){
    margin-top: 4rem;
  }

  @include responsive(android){
    margin-top: 4rem;
  }

  @include responsive(ipad){
    margin-top: 5rem;
  }
}

.utility-margin-top-md-2 {
  margin-top: 4rem;

  @include responsive(mobile){
    margin-top: 1.8rem;
  }

  @include responsive(mob){
    margin-top: 1.8rem;
  }

  @include responsive(iphone){
    margin-top: 2rem;
  }

  @include responsive(android){
    margin-top: 2rem;
  }

  @include responsive(ipad){
    margin-top: 3rem;
  }
}

.utility-margin-top-small {
  margin-top: 1.5rem;

  @include responsive(mobile){
    margin-top: 1rem;
  }

  @include responsive(mob){
    margin-top: 1rem;
  }

  @include responsive(iphone){
    margin-top: 1rem;
  }

  @include responsive(android){
    margin-top: 1rem;
  }

  @include responsive(ipad){
    margin-top: 1.5rem;
  }
}
