/* utility classes */
.utility-text-center {
  text-align: center;
}

.utility-margin-btm-big {
  margin-bottom: 8rem;
}

.utility-margin-btm-medium {
  margin-bottom: 4rem;
}

.utility-margin-btm-small {
  margin-bottom: 1.5rem;
}