/* colors - used for linear gradient (except for footer) */
$color-dark-blue: #2e3192;
$color-light-blue: #1bffff;

/* Grey background shade */
$light-grey: #f7f7f7;
$dark-grey: #eaeaea;

/* Black & White */
$color-black: #000;
$color-white: #fff;

/* error color */
$error: #ef0107;

/* buttons and outlines*/
// landing page about
$outline-primary: #007fff;
$outline-secondary: #000080;
$outline-tertiary: #002fa7;

/* scrollbar */
$scrollbar-thumb: #888;
$scrollbar-track: #eaeaea;
$scrollbar-thumb-hover: #555;

/* card colors */
/* card-section */ 
$light-orange: #ffb900;
$dark-orange: #ff7730;

$light-green: #7ed56f;
$dark-green: #28b485;

$light-blue: #2998ff;
$dark-blue: #5643fa;

$light-brown: #b27536;
$dark-brown: #593e1a;

$light-dark-blue: #5643fa;
$dark-dark-blue: #21174a;

$light-cyan: #80ffff;
$dark-cyan: #008080;

$light-red: #ff6969;
$dark-red: #b20000;

$light-gray: #d3d3d3;
$dark-gray: #696969;

$light-light-blue: #87ceeb;
$dark-light-blue: #0066ff;

$light-dark-green: #28b485;
$dark-dark-green: #006400;

$light-pink: #ffb6c1;
$dark-pink: #ff1493;

$light-lavender: #e8ccfc;
$dark-lavender: #8a2be2;

$light-yellow: #ffff00;
$dark-yellow: #ffd700;

$light-turquoise: #40e0d0;
$dark-turquoise: #008080;

$light-silver: #c0c0c0;
$dark-silver: #a9a9a9;

$light-crimson: #dc143c;
$dark-crimson: #8b0000;

$light-goldenrod: #ffd700;
$dark-goldenrod: #daa520;

$light-forest-green: #228b22;
$dark-forest-green: #006400;

$light-khaki: #f0e68c;
$dark-khaki: #bdb76b;

$ight-light-pink: #FFD1DC;
$dark-light-pink: #FF8A9A;