/* colors - used for linear gradient (except for footer) */
$color-dark-blue: #2e3192;
$color-light-blue: #1bffff;

/* Grey background shade */
$light-grey: #f7f7f7;
$dark-grey: #eaeaea;

/* Black & White */
$color-black: #000;
$color-white: #fff;

/* error color */
$error: #ef0107;

/* card colors */
// card-section
$light-orange: #ffb900;
$dark-orange: #ff7730;

$light-green: #7ed56f;
$dark-green: #28b485;

$light-blue: #2998ff;
$dark-blue: #5643fa;

/* buttons and outlines*/
// landing page about
$outline-primary: #007fff;
$outline-secondary: #000080;
$outline-tertiary: #002fa7;

/* scrollbar */
$scrollbar-thumb: #888;
$scrollbar-track: #eaeaea;
$scrollbar-thumb-hover: #555;
