/* colors */
$color-dark-blue: #2E3192;
$color-light-blue: #1BFFFF;

/* grey background shade */
$color-grey-light: #f7f7f7;
$color-grey-dark: #eaeaea;

/* black & white */
$color-black: #000;
$color-white: #fff;

/* card colors */
$light-green: #7ed56f;
$dark-green: #28b485;

$light-orange: #ffb900;
$dark-orange: #ff7730;

$light-blue: #2998ff;
$dark-blue: #5643fa;

/* buttons and outlines*/
$outline-primary: #007fff;
$outline-secondary: #000080;
$outline-tertiary: #002fa7;