@import "../../App.scss";

.tours {
  margin-top: -7rem;
  padding-top: 8rem;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    $color-grey-dark,
    $color-grey-light
  );
}
