@import "../../App.scss";

.tours {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    $color-grey-dark,
    $color-grey-light
  );
  margin-top: -7rem;
}
