.feature {
  background-image: linear-gradient(
      to right bottom,
      rgba(46, 49, 146, 0.75),
      rgba(27, 255, 255, 0.75)
    ),
    // url("https://cdn.pixabay.com/photo/2024/01/10/21/02/mountains-8500373_1280.jpg");
    url("../../assets/feature-bg.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -7rem;
  transform: skewy(-6deg);
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & > * {
    transform: skewY(6deg);
  }
}
