@import "../../../App.scss";

.feature-card {
  background-color: rgba($color-white, 0.6);
  font-size: 1.3rem;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  cursor: pointer;

  @include responsive(mobile) {
    font-size: 1.8rem;
  }

  @include responsive(iphone) {
    font-size: 2rem;
  }

  @include responsive(android) {
    font-size: 2rem;
  }

  @include responsive(ipad) {
    font-size: 2rem;
    padding: 5rem;
  }

  @include responsive(tab) {
    font-size: 2rem;
    padding: 5rem;
  }

  @include responsive(desktop) {
    font-size: 1.6rem;
  }

  &__icon {
    font-size: 6rem;
    background-image: linear-gradient(
      to right,
      rgba(46, 49, 146, 0.8),
      rgba(27, 255, 255, 0.8)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 0.3rem;

    @include responsive(iphone) {
      font-size: 10rem;
    }

    @include responsive(android) {
      font-size: 10rem;
    }

    @include responsive(ipad) {
      font-size: 10rem;
    }

    @include responsive(tab) {
      font-size: 10rem;
    }

    @include responsive(desktop) {
      font-size: 8rem;
    }
  }

  &__text {
    font-weight: 500;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.02);

    @include responsive(mobile){
      transform: translateY(0) scale(1);
    }

    @include responsive(iphone){
      transform: translateY(0) scale(1);
    }

    @include responsive(android){
      transform: translateY(0) scale(1);
    }

    @include responsive(ipad){
      transform: translateY(0) scale(1);
    }

    @include responsive(tab){
      transform: translateY(0) scale(1);
    }
  }
}
