@import "../../App.scss";

.footer {
  height: 98vh;
  padding: 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(#09c6f9, 0.8),
    rgba(#045de9, 0.8)
  );
  // color: $color-white;
  font-family: "Merriweather";
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  &__tagline {
    width: 90%;
    height: fit-content;

    &--main {
      font-size: 7rem;
      margin-bottom: 3rem;
      font-weight: 500;
    }

    &--sub {
      font-size: 4rem;
      font-weight: 300;
    }
  }

  &__logo-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    .footer__logo {
      width: 20rem;
      height: 20rem;

      & img {
        height: 100%;
        width: 100%;
      }
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 70%;

      .webpage__links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .page-link {
          padding: 1.5rem;
          font-size: 2rem;
          transition: all .5s ease-in-out;

          &:hover {
            transform: scale(1.1);
            text-shadow: 0 1.2rem 2rem rgba($color-black, .25);
            color: $outline-secondary;
          }
        }
      }

      .social-media__links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        align-self: flex-end;

        .media-link {
          width: 6rem;
          height: 6rem;
          padding: 1.5rem;

          &:not(:last-child) {
            margin-right: 2rem;
          }

          & img {
            height: 100%;
            transition: all .5s;

            &:hover {
              transform: scale(1.1);
              box-shadow: 0 1.2rem 2rem rgba($color-black, .25);
            }
          }
        }
      }
    }
  }
}