@import "../../../App.scss";

.footer {
  height: 98vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-dark-blue, 0.7),
    rgba($color-light-blue, 0.7)
  );
  font-family: "Merriweather";
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 90%;
    height: 70vh;
    border-radius: 0.4rem;
    background-image: linear-gradient(
      101deg,
      rgba($dark-grey, 1) 0%,
      rgba($dark-grey, 1) 40%,
      rgba($color-white, 1) 40%
    );
    box-shadow: 0 2rem 4rem rgba($color-black, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--logo {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 25%;
      padding: 2rem 0;

      .logo-design {
        width: 25%;
        height: 2px;
        background-color: $color-black;
      }

      .heading-secondary {
        font-size: 4.5rem;
        letter-spacing: 1.5px;
        background-image: linear-gradient(to right, #000000, #130f40);
      }
    }

    &--links {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 65%;

      .heading-tertiary {
        font-size: 2.5rem;
        padding: 0.5rem 2rem;
      }

      .page-links {
        width: 20%;

        .page-link {
          font-size: 2rem;
          padding: 0.5rem 2rem;
        }
      }

      .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .social-media {
          display: flex;

          .media-link {
            width: 5rem;
            height: 5rem;
            padding: 1rem;
            margin: 0 0.5rem;
  
            & img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .footer-links-design {
          width: 15%;
          rotate: 90deg;
          height: 2px;
          background-color: $color-black;
        }

        .get-in-touch {
          margin-bottom: 1rem;

          .footer-main-heading {
            font-size: 2.5rem;
            padding: .5rem 0;
          }

          .footer-main-tagline {
            font-size: 2rem;
            padding: .5rem 0;
            margin-bottom: 1rem;
          }
        }

        .footer-form {
          display: flex;
          height: fit-content;
          position: relative;

          .input-group {
            margin-bottom: 0;
          }

          .form-input {
            background-color: rgba($light-grey, .8);
            font-family: 'karla';
            width: 120%;
          }
  
          .form-input-label {
            font-family: 'karla';
          }
  
          .footer-btn {
            padding: .4rem;
            border: none;
            cursor: pointer;
            height: 4.5rem;
            background-color: transparent;
            position: absolute;
            top: 2px;
            right: 0;

            & img {
              height: 100%;
            }
          }
        }
      }

      .terms-conditions {
        width: 20%;

        .page-link {
          font-size: 2rem;
          padding: 0.5rem 2rem;
        }
      }
    }

    &--copyright {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;

      .copyright-content {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
      }
    }
  }
}
