@import "../../App.scss";

.grid-layout-3x1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6rem;
  max-width: 100rem;

  @include responsive(iphone) {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(android) {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(ipad) {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(tab) {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(desktop) {
    max-width: 100%;
  }

  @include responsive(imac) {
    max-width: 100%;
  }

  @include responsive(screens) {
    max-width: 100%;
  }

  & > *:nth-child(3) {
    @include responsive(iphone) {
      grid-column: 1/-1;
      justify-self: center;
    }

    @include responsive(android) {
      grid-column: 1/-1;
      justify-self: center;
    }

    @include responsive(ipad) {
      grid-column: 1/-1;
      justify-self: center;
    }

    @include responsive(tab) {
      grid-column: 1/-1;
      justify-self: center;
    }
  }
}
