@import "../../App.scss";

.rotate-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 28rem;
  position: relative;
  height: 40rem;

  @include responsive(iphone){
    width: 35rem;
  }

  @include responsive(android){
    width: 35rem;
  }

  .card__side {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
  }

  .card__side--front {
    background-color: $color-white;

    .card__picture {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 40%;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }

    .picture-orange {
      background-image: linear-gradient(
          to right bottom,
          $light-orange,
          $dark-orange
        ),
        url("../../assets/card-1.jpg");
    }

    .picture-green {
      background-image: linear-gradient(
          to right bottom,
          $light-green,
          $dark-green
        ),
        url("../../assets/card-2.jpg");
    }

    .picture-blue {
      background-image: linear-gradient(
          to right bottom,
          $light-blue,
          $dark-blue
        ),
        url("../../assets/card-3.jpg");
    }

    .card__heading {
      text-align: right;
      font-size: 2.6rem;
      font-style: italic;
      text-transform: uppercase;
      color: $color-white;
      font-weight: 300;
      width: 75%;
      position: absolute;
      top: 9rem;
      right: 1.5rem;
      font-family: 'merriweather';
    }

    .card-heading-span {
      padding: 0.5rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    .heading-orange {
      background-image: linear-gradient(
        to right bottom,
        rgba($light-orange, 0.85),
        rgba($dark-orange, 0.85)
      );
    }

    .heading-green {
      background-image: linear-gradient(
        to right bottom,
        rgba($light-green, 0.85),
        rgba($dark-green, 0.85)
      );
    }

    .heading-blue {
      background-image: linear-gradient(
        to right bottom,
        rgba($light-blue, 0.85),
        rgba($dark-blue, 0.85)
      );
    }

    .card__details {
      padding: 3rem;

      ul {
        margin: 0 auto;
        list-style: none;
        width: 80%;

        li {
          font-size: 1.5rem;
          padding: 0.8rem;
          text-align: center;

          &:not(:last-child) {
            border-bottom: 1px solid #eee;
          }
        }
      }
    }
  }

  .card__side--back {
    transform: rotateY(180deg);

    .card__action {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      height: 100%;

      .price__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $color-white;

        .price--only {
          text-transform: uppercase;
          font-size: 1.4rem;
        }

        .price--value {
          font-size: 5rem;
          font-weight: 100;
        }
      }
    }
  }

  .back-orange {
    background-image: linear-gradient(
      to right bottom,
      $light-orange,
      $dark-orange
    );
  }

  .back-green {
    background-image: linear-gradient(
      to right bottom,
      $light-green,
      $dark-green
    );
  }

  .back-blue {
    background-image: linear-gradient(to right bottom, $light-blue, $dark-blue);
  }

  &:hover .card__side--front {
    transform: rotateY(-180deg);
  }

  &:hover .card__side--back {
    transform: rotateY(0);
  }
}
