@import "../../../App.scss";

.all-stories {
  @include linearGradient($light-light-blue, $dark-light-blue);
  margin-top: -10vh;
  padding-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;

    .single-story {
      margin: 2rem auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .heading-secondary {
    margin-top: 2rem;
    @include linearGradient($light-dark-blue, $dark-dark-blue);
  }

  .pagination {
    margin-bottom: 4rem;

    &-controls {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-button {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      border: none;
      background: none;
      margin: 0 3rem;

      @include responsive(mobile) {
        width: 7rem;
        height: 7rem;
      }

      @include responsive(mob) {
        width: 7rem;
        height: 7rem;
      }

      @include responsive(iphone) {
        width: 7rem;
        height: 7rem;
      }

      @include responsive(android) {
        width: 7rem;
        height: 7rem;
      }

      &:first-child {
        rotate: 180deg;
      }

      &:disabled {
        cursor: not-allowed;
      }

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &-info {
      font-size: 1.8rem;
      font-weight: 600;

      @include responsive(mobile) {
        font-size: 2.8rem;
      }

      @include responsive(mob) {
        font-size: 2.8rem;
      }

      @include responsive(iphone) {
        font-size: 2.8rem;
      }

      @include responsive(android) {
        font-size: 2.8rem;
      }
    }
  }
}
