@import "../../App.scss";

.radio-group {
  display: inline-block;
  width: 50%;
  margin: 2rem 0;

  .radio-input {
    display: none;
  }

  .radio-input-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 3.5rem;
    font-weight: 400;
    color: $scrollbar-thumb-hover;

    @include responsive(iphone) {
      padding-left: 2.5rem;
    }

    @include responsive(android) {
      padding-left: 2.5rem;
    }

    @include responsive(ipad) {
      padding-left: 2.5rem;
      font-size: 2rem;
    }

    @include responsive(tab) {
      padding-left: 3.5rem;
      font-size: 2rem;
    }

    .radio-btn {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      border: 5px solid $outline-secondary;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-5px);
      display: inline-block;

      @include responsive(iphone) {
        height: 2rem;
        width: 2rem;
        border: 2px solid $outline-secondary;
        transform: translateY(0);
      }

      @include responsive(android) {
        height: 2rem;
        width: 2rem;
        border: 2px solid $outline-secondary;
        transform: translateY(0);
      }

      @include responsive(ipad) {
        height: 2rem;
        width: 2rem;
        border: 2px solid $outline-secondary;
        transform: translateY(2px);
      }

      @include responsive(tab) {
        transform: translateY(-3px);
      }

      &::after {
        content: "";
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: $outline-secondary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .4s;

        @include responsive(iphone) {
          height: 1rem;
          width: 1rem;
        }

        @include responsive(android) {
          height: 1rem;
          width: 1rem;
        }

        @include responsive(ipad) {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }

  .radio-input:checked ~ .radio-input-label .radio-btn::after {
    opacity: 1;
  }
}
