@import "../../../App.scss";

.form-style--2 {
  transform: translate(-45%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  &-textbox {
    width: 50%;

    @include responsive(mobile) {
      width: 100%;
    }

    & h3 {
      font-size: 1.8rem;
    }

    & textarea {
      border: none;
      background-color: rgba($color-white, 0.4);
      resize: none;
      display: block;
      font-size: 1.5rem;
      padding: 1.2rem;
      width: 90%;

      @include responsive(mobile) {
        font-size: 1.6rem;
      }
  
      @include responsive(mob) {
        font-size: 1.6rem;
      }
  
      @include responsive(iphone) {
        width: 85%;
        font-size: 1.6rem;
      }
  
      @include responsive(android) {
        width: 85%;
        font-size: 1.6rem;
      }
  
      @include responsive(ipad) {
        width: 85%;
        font-size: 1.6rem;
      }
  
      @include responsive(tab) {
        width: 85%;
        font-size: 1.8rem;
      }

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      }

      &::-webkit-input-placeholder {
        font-family: "karla";
        font-size: 1.8rem;
        font-weight: 600;
        color: #888;
      }
    }

    .form-input-label {
      display: block;
      margin: 1rem 0 0 1.2rem;
      font-size: 1.4rem;
      color: #888;
      font-weight: 700;
      transition: all .4s;

      @include responsive(mobile) {
        font-size: 1.6rem;
      }
  
      @include responsive(mob) {
        font-size: 1.6rem;
      }
  
      @include responsive(iphone) {
        font-size: 1.6rem;
      }
  
      @include responsive(android) {
        font-size: 1.6rem;
      }
  
      @include responsive(ipad) {
        font-size: 1.6rem;
      }
  
      @include responsive(tab) {
        font-size: 1.8rem;
      }
    }

    & textarea:placeholder-shown + .form-input-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-6px);
    }

    .navigation-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin-top: 1rem;
      margin-bottom: 2rem;

      & button {
        margin: 0 2rem;
        background: none;
        border: none;
        cursor: pointer;
        width: 2.4rem;
        height: 2.4rem;

        @include responsive(mobile) {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0 1.5rem;
        }
    
        @include responsive(mob) {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0 1.5rem;
        }
    
        @include responsive(iphone) {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0 1.5rem;
        }
    
        @include responsive(android) {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0 1.5rem;
        }
    
        @include responsive(ipad) {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0 1.5rem;
        }
    
        @include responsive(tab) {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0 1.5rem;
        }

        &:first-child {
          rotate: 180deg;
        }

        &:disabled {
          cursor: not-allowed;
        }

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &-instructions {
    width: 45%;
    align-self: flex-start;
    padding: 2rem;

    @include responsive(mobile) {
      width: 100%;
    }

    @include responsive(mob) {
      width: 50%;
      padding: 1.5rem;
    }

    @include responsive(iphone) {
      width: 50%;
      padding: 1.5rem;
    }

    @include responsive(android) {
      width: 50%;
      padding: 1.5rem;
    }

    @include responsive(ipad) {
      width: 50%;
      padding: 1.5rem;
    }

    @include responsive(tab) {
      width: 50%;
      padding: 1.5rem;
    }

    & h3 {
      font-size: 2rem;
      font-family: 'merriweather';
      font-style: italic;
      // text-align: right;

      @include responsive(mobile) {
        font-size: 2rem;
      }
  
      @include responsive(mob) {
        font-size: 1.8rem;
      }
  
      @include responsive(iphone) {
        font-size: 1.8rem;
      }
  
      @include responsive(android) {
        font-size: 1.8rem;
      }
  
      @include responsive(ipad) {
        font-size: 1.8rem;
      }
  
      @include responsive(tab) {
        font-size: 1.8rem;
      }
    }   
    
    & ul {
      padding: 1.5rem;

      @include responsive(mobile) {
        padding: 1rem 1.5rem;
      }

      & li {
        font-size: 1.7rem;
        margin: 1rem 0;

        @include responsive(mobile) {
          font-size: 1.6rem;
          text-align: justify;
        }
    
        @include responsive(mob) {
          font-size: 1.6rem;
        }
    
        @include responsive(iphone) {
          font-size: 1.6rem;
        }
    
        @include responsive(android) {
          font-size: 1.6rem;
        }
    
        @include responsive(ipad) {
          font-size: 1.6rem;
        }
    
        @include responsive(tab) {
          font-size: 1.6rem;
        }

        & span {
          font-weight: 500;
        }
      }
    }
  }
}
