@import "../../../App.scss";

.booknow-form {
  width: 100%;

  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include responsive(mobile) {
      height: 90vh;
    }

    @include responsive(mob) {
      height: 80vh;
    }

    @include responsive(iphone) {
      height: 60vh;
    }

    @include responsive(android) {
      height: 60vh;
    }

    @include responsive(ipad) {
      height: 60vh;
    }

    @include responsive(tab) {
      height: 70vh;
    }

    .form-inner-box {
      width: 75%;
      box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
      border-radius: 0.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: rgba($color-white, 0.4);
      padding: 2rem;

      @include responsive(mobile) {
        width: 85%;
      }

      @include responsive(mob) {
        width: 85%;
      }

      @include responsive(iphone) {
        width: 85%;
      }

      @include responsive(android) {
        width: 85%;
      }

      @include responsive(ipad) {
        width: 85%;
      }
    }
  }

  &__submit-btn {
    margin-bottom: 3rem;

    // @include responsive(mobile) {}

    @include responsive(mob) {
      margin-bottom: 5rem;
    }

    @include responsive(iphone) {
      margin-bottom: 8rem;
    }

    @include responsive(android) {
      margin-bottom: 8rem;
    }

    // @include responsive(ipad) {}

    // @include responsive(tab) {}
  }

  .form-img--1 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-white, 0.2),
        rgba($color-white, 0.2)
      ),
      url("https://img.freepik.com/free-photo/empty-frame-with-airplanes-leaves-fruit_23-2148169801.jpg?w=740&t=st=1725404561~exp=1725405161~hmac=2725bdbfc619e48e68d1ca5dfd518e7ea0180ebfa51d047f55b3eddb4d28da43");
  }

  .form-img--2 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-white, 0.2),
        rgba($color-white, 0.2)
      ),
      url("https://img.freepik.com/premium-photo/travel-luggage-globe-travel-time_639785-56530.jpg?w=740");
    background-position: bottom;
  }

  .form-img--3 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-white, 0.2),
        rgba($color-white, 0.2)
      ),
      url("https://img.freepik.com/premium-photo/plane-is-flying-globe-words-airplane_605423-188347.jpg?w=740");
    background-position: top;
  }
}
