@import "../../App.scss";

.stories {
  height: 110vh;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-image: linear-gradient(
    to right bottom,
    $color-grey-dark,
    $color-grey-light
  );

  &__container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
