@import "../../App.scss";

.stories {
  height: 130vh;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @include responsive(iphone) {
    height: 80vh;
  }

  @include responsive(android) {
    height: 80vh;
  }

  @include responsive(ipad) {
    height: 80vh;
  }

  .heading-secondary {
    background-image: linear-gradient(
      to right,
      $outline-primary,
      $outline-secondary
    );

    @include responsive(iphone) {
      text-align: center;
      margin: 0 1rem;
    }

    @include responsive(android) {
      text-align: center;
      margin: 0 1rem;
    }

    @include responsive(ipad) {
      text-align: center;
      margin: 0 2rem;
    }
  }

  &__container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
